.demo
  display: flex;
  flex-direction: column;
  align-items: center;
  width 60%
  margin 10px auto
  &-logo
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width 150px
    height 150px
    background-repeat: no-repeat
    background-size 70%
    background-position: center

a
  color: #333